.icon-cutomer{
    margin-right: 100px;
}
a{
    cursor: pointer;
    text-decoration: none;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: 1rem;
/* display: inline; */
}
 .back {
    background: rgb(131,58,180);
    background: linear-gradient(34deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    z-index: 3;
 }

 .faShop {
    font-size: 2rem;
    position: relative;
    z-index: 3;
    right: 40%; 
 }
/* 
 .center-icon {
    display: inline-block;
    width: 25%;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
 } */